.Navbar {
	width: 100%;
	height: 70px;
	background-color: #fff;
	z-index: 90;
}

.Brand {
	display: flex;
	align-items: center;
}

.Logo {
	height: 80%;
}

.BrandText {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	color: #111111;
}


@media (max-width: 629px) {
	.Brand {
		display: none;
	}
}