.Image {
	filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
	border-radius: 6px;
	margin-bottom: 0;
}

.Card {
	width: 100%;
	filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
    border-radius: 6px;
    margin: 40px 30px 0 0;
}

.CardBody {
	padding: 20px;
}

.TechStackTags {
	display: flex;
	justify-content: flex-start;
}

.TechStackTag {
	border-radius: 8px;
	box-sizing: border-box;
	border: 1.5px solid #4f4f4f;
	padding: 0px 5px;
	margin: 0px 10px 5px 0px;
}

.TechStackTag span {
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #404040;
}

.Caption {
	margin-top: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #292929;
}
