.Skills {
	margin-top: 60px;
	background-color: #fff;
	width: 100%;
	padding-bottom: 20px;
}

.SectionHeader {
	padding-top: 40px;
	text-align: center;
}

.SectionTitle {
	font-weight: 600;
	font-size: 30px;
	line-height: 24px;
	color: #000000;
}

.SectionSubTitle {
    margin-top: 10px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
}
