.SectionHeader {
	padding-top: 40px;
	text-align: center;
}

.SectionTitle {
	font-weight: 600;
	font-size: 30px;
	line-height: 24px;
	color: #000000;
}

.SectionSubTitle {
	margin-top: 10px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
}

.footerSocialNetworks {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
